<a href="https://colab.research.google.com/github/honey-python-world/Machine-Learning/blob/main/2_Linear_Regression_with_Multiple_Variables_Or_Multivariante_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Home prices in Monroe Township, NJ(USA)

# Topics
* Data Preprocessing: handling the NA values
*Linear Regression Using Multiplle Variable

In [ ]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [ ]:

df=pd.read_csv("/content/drive/MyDrive/ML/ML Data sets/Homepreices_in_US.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [ ]:
from numpy.ma.extras import median
# calculating median for missing values
import math
median_bedrooms=math.floor(df.bedrooms.median())
#median_bedrooms=df.bedrooms.median()
median_bedrooms

4

In [ ]:
df.bedrooms

0    3.0
1    4.0
2    NaN
3    3.0
4    5.0
5    6.0
Name: bedrooms, dtype: float64

In [ ]:
df.bedrooms.fillna(median_bedrooms)

0    3.0
1    4.0
2    4.0
3    3.0
4    5.0
5    6.0
Name: bedrooms, dtype: float64

In [ ]:
df.bedrooms=df.bedrooms.fillna(median_bedrooms)
#df.bedrooms
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [ ]:
model= linear_model.LinearRegression()
model.fit(df[["area","bedrooms","age"]],df.price)

LinearRegression()

In [ ]:
model.coef_ # coefficent is  nothing but slops m1,m2,m3 in the equations y=m1(area)+m2(bedrooms)+m3(age)+intercept(h)

array([  112.06244194, 23388.88007794, -3231.71790863])

In [ ]:
model.intercept_

221323.00186540396

In [ ]:
price=model.predict([[3000,3,40]])
price

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([498408.25158031])

## Exercises

In [ ]:
import pandas as pd
import numpy as np
from sklearn import linear_model 
from word2number import w2n

ModuleNotFoundError: ignored

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/ML/ML Data sets/Company expiernce VS salary.csv")
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [ ]:

df.experience=df.experience.fillna("zero")
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       zero                    8.0                           9      50000
1       zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [ ]:
import math

In [ ]:
medium_test_score=math.floor(df["interview_score(out of 10)"].mean())
medium_test_score

7

In [ ]:
df["interview_score(out of 10)"]=df["interview_score(out of 10)"].fillna(medium_test_score)
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       zero                    8.0                           9      50000
1       zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [ ]:
model=linear_model.LinearRegression
#model.fit(df[["test_score(out of 10)","interview_score(out of 10)"]],df["salary($)"])
model.fit(df[['test_score(out of 10)','interview_score(out of 10)']],df['salary($)'])

TypeError: ignored